<html>
<head>
	<title>LOGIN</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>

<body>

	<!--HEADER-->
	
	<div class="header">
		<div class="headblock"></div>
		<div class="user pull-right">
			<ul>
				<li class="active"><%= link_to "Log In | Register", login_path %></li>
					<!--<li style="padding: 5px 2px;">|</li>
					<li><%= link_to "Register", register_path %></li>-->
			</ul>
		</div>
		<div class="nav headroom">
			<div class="container">
				<div class="nav-collapse">
					<div class="logo navbar-nav pull-left"><%= link_to "City Birds Logo", index_path %></div>
					<ul class="navbar-nav pull-right">
						<li><a href="index.html">Home</a></li>
						<li><a href="trending.html">Trending</a></li>
						<li><a href="#New">What's New</a></li>
						<li><a href="#Discover">Discover</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--HEADER END-->

	<div>
		<a name="Home"></a>
		<div class="container">
			<div class="content">
				<div id="flag"></div>
				<div style="overflow:hidden;" class="login-input">

					<div class="pull-left">
					<label>LOGIN</label>
					<br><br>
					<%= form_tag('/login', :multipart => true, :id => "loginform") do %>
						<input type="text" name="username" placeholder="Username" >
	       				<br>
	       				<input id="lpassword" style="margin-top: 20px;" type="password" name="password" placeholder="******" >
	       				<br><br>

	       				<span id="error1" style="margin-left:125px;"></span><br>

	       				<input name="submit" type="submit" value="LOGIN" id="log"style="padding:6px">
	       			<% end %>
					</div>

					<div class="register-input vertical-border">
					<label>REGISTER</label>
					<br><br>
					<%= form_tag('/register', :multipart => true, :id => "registerform") do %>
						<input type="text" id="rfname" name="fname" placeholder="First Name">

	       				<input type="text" id="rlname" name="lname" placeholder="Last Name">

						<input id="rusername" type="text" style="margin-top: 20px;" name="username" placeholder="Username"><br>

	       				<input id="rpassword" style="margin-top: 20px;" type="password" name="password" placeholder="******">

	       				<input id="confpass" style="margin-top: 20px;" type="password" name="passwor_confirm" placeholder="******">
	       				<br><br>

	       				<span id="error2" style="margin-left:427px;"></span><br>

	       				<input type="submit" name="submit" id="register" style="margin-left:500px; padding:6px;" value="REGISTER" >
	       			<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>