<html>
<head>
	<title>Trending</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="blocks.js"></script>
</head>

<body onload="setupBlocks();">
	<!--HEADER-->
	<div class="header">
		<div class="headblock"></div>
		<div class="user pull-right">
			<% if session[:user_id] %>
				<ul>
					<li>Hello <%= @curr_user.fname %>!</li>
					<li style="padding: 5px 2px;">|</li>
					<li><%= link_to "Log Out", logout_path %></li>
				</ul>
			<% else %>
				<ul>
					<li><%= link_to "Log In", login_path %></li>
					<li style="padding: 5px 2px;">|</li>
					<li><%= link_to "Register", register_path %></li>
				</ul>
			<% end %>
		</div>
		<div class="nav headroom">
			<div class="container">
				<div class="nav-collapse">
					<div class="logo navbar-nav pull-left">City Birds</div>
					<ul class="navbar-nav pull-right">
						<li><a href="index.html">Home</a></li>
						<li><a href="trending.html">Trending</a></li>
						<li><a href="new.html">What's New</a></li>
						<li class="active"><a href="discover.html">Discover</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--HEADER END-->
	<div>
		<div class="userdiv">
            <div class="columndiv"><div class="square"><%= image_tag("unknown.png", width: '150', height: '150', class: "circle")%><br>User 1</div></div>
            <div class="columndiv"><div class="square"><%= image_tag("unknown.png", width: '150', height: '150', class: "circle")%><br>User 2</div></div>
            <div class="columndiv"><div class="square"><%= image_tag("unknown.png", width: '150', height: '150', class: "circle")%><br>User 3</div></div>
            <div class="columndiv"><div class="square"><%= image_tag("unknown.png", width: '150', height: '150', class: "circle")%><br>User 4</div></div>
            <div class="columndiv"><div class="square"><%= image_tag("unknown.png", width: '150', height: '150', class: "circle")%><br>User 5</div></div>
            <div class="columndiv"><div class="square"><%= image_tag("unknown.png", width: '150', height: '150', class: "circle")%><br>User 6</div></div>
        </div>
	</div>

	<div class="sticky-controls">
			<div class="wrap">
				<div class="controls pull-left">
					<li><img src="images/addition6.png"></li>
				</div>
			</div>
	</div>
</body>
</html>