<html>
<head>
	<title>Trending</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="blocks.js"></script>
</head>

<body onload="setupBlocks();">
	<!--HEADER-->
	<div class="header">
		<div class="headblock"></div>
		<div class="user pull-right">
			<% if session[:user_id] %>
				<ul class="menu" style="margin:0px;padding:0px; display:inline;">
					<li class="badge"><a href="#" style="margin-bottom:5px;">!</a>
						<ul style="margin:auto;">
							<% if @notifs %>
								<% @notifs.take(4).each do |i| %>
									<li style="padding: 10px 0px 0px 10px;">
										<%= form_tag('/profile', method: :post, style: "display:inline;") do %>
											<%= hidden_field_tag 'id', i.liker %>

											<%= submit_tag User.where(id: i.liker).first.fname, :class=>"submit", :style=>"margin-left:auto;"%>
										<% end %>

										<%= form_tag('/view_post', method: :post, style: "display:inline;") do %>
											<%= hidden_field_tag 'id', i.post_id %>
										
											<%= submit_tag i.ntype.to_s() +" your post.", :class=>"submit"%>
										<% end %>
									</li>	
								<% end %>
							<% end %>
						</ul>
					</li>
				</ul>
				<ul>
					<%= form_tag('/profile', method: :post, :id => session[:user_id]) do %>
						<%= hidden_field_tag 'id', session[:user_id] %>

						<li>Hello <%= submit_tag  @curr_user.fname, class: "submit" %>!</li>		
						
					<% end %>
					<li style="padding: 5px 2px;">|</li>
					<li><%= link_to "Log Out", logout_path %></li>
				</ul>
			<% else %>
				<ul>
					<li><%= link_to "Log In | Register", login_path %></li>
				</ul>
			<% end %>
		</div>
		<div class="nav headroom">
			<div class="container">
				<div class="nav-collapse">
					<div class="logo navbar-nav pull-left" style="color:white;font-family: 'Roboto';">City Birds</div>
					<ul class="navbar-nav pull-right">
						<li><a href="index.html">Home</a></li>
						<li><a href="trending.html">Trending</a></li>
						<li><a href="new.html">What's New</a></li>
						<li class="active"><a href="discover.html">Community</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--HEADER END-->
	<div>
		<div class="userdiv">
			<% @all_users.sample(8).each do |u| %>
           		<div class="columndiv"><div class="square" onclick="do_form(<%= u.id %>)">
           			<%= form_tag('/profile', method: :post, :id => u.id) do %>
						<%= hidden_field_tag 'id', u.id %>
							
					<% end %>
	            	<%= image_tag("unknown.png", width: '150', height: '150', class: "circle")%><br><%= u.fname%> <%= u.lname%></div></div>
            <% end %>
        </div>
	</div>

	<!--FOOTER-->
	<% if session[:user_id] %>
		<div class="sticky-controls">
				<div class="wrap">
					<div class="controls pull-left">
						<li><%= link_to image_tag("addition6.png"), "#openModal" %></li>
					</div>
				</div>

				<div id="openModal" class="modalDialog">
					<div>
						<a href = "#close" title = "Close" class = "close"> x </a>
						<h3>Upload New Post</h3>

						<%= form_tag('/upload', :multipart => true) do %>

							<div class="post-types">

								<label class="filebutton">
									<%= image_tag("camera-icon.png") %>
									<span><%= file_field_tag :post, :class => "upload", :accept => ".png,.jpg,.gif,.bmp" %></span>
								</label>
								<label class="filebutton">
									<%= image_tag("video-icon.png")  %>
									<span><%= file_field_tag :post, :class => "upload", :accept => ".mp4,.wav,.avi,.mov"%></span>
								</label>

								<div>
									<label style="padding:25px;">PHOTO</label>
									<label style="padding:25px;">VIDEO</label>
								</div>
								<label id="filename" style="padding:5px; font-size:12px; color:gray;"></label>

							</div>

		        			<div class="hidden-input" style="visibility:hidden;">
								<label>TITLE:</label>
								<%= text_field_tag 'title', nil, placeholder: 'Title' %>
								<span id="error"></span>
								<%= submit_tag "UPLOAD", :id => "sub", :style => "padding:0px;"%>
								<br>
							</div>
	
							<div class="submit" style="visibility:hidden;">
								<li><%= image_tag("checkmark.png") %></li>
								<label>SUBMITTED!</label>
							</div>
	        				
	        			<% end %>

				</div>
		</div>
	<% end %>
	<!--end footer-->

	<div id="viewModal" class="viewDialog">
		<div>
			<a href = "#close" title = "Close" class = "close"> x </a>
			<h3 style="position:absolute;">
				<%if @curr_post.present?%>
					<%= @curr_post.title %>
					<label style="font-size: 12px; color:gray;"><%= Like.get_likes(@curr_post.id) %> likes</label>
				<% end %>
			</h3>
			<a href="JavaScript:newPopup('http://www.facebook.com/sharer/sharer.php?u=<%=request.original_url + '#viewModal'%>');"><%= image_tag ("facebook-share-button.png"), {:class => "user-small pull-right"} %></a>
			
			<div class="media-box">
				<%if @curr_post %>
					<%if @curr_post.mtype.start_with?('image') %>
						<%= image_tag(@curr_post.dir,  size: "340x340") %>
					<% else %>
							<%= video_tag(@curr_post.dir, size: "340x340", autoplay: "autoplay", loop: "loop") %>
					<% end %>
					
				<% end %>
			</div>

			<div class="user-info-box">
				<%=image_tag ("2.PNG"), {:class => "user-small"} %>
				<label>
					<% if @curr_user %>
						<%= @curr_user.fname %>
					<% else %>
						Guest
					<% end %>
				</label>
			</div>

			<div class="comment-box">
				<!--NEW USER COMMENT-->
				Comments
				<% if @all_comments %>
					<% @all_comments.each do |i| %>
					<div class="user-comments">
						<%=image_tag ("2.PNG"), {:class => "user-small"} %>
						<div class="comment"><strong><%= User.where(id: i.comment_user).first.fname %></strong>: <%= i.message %></div>
					</div>
					<% end %>
				<% else %>
					<div class="user-comments">
						<%=image_tag ("2.PNG"), {:class => "user-small"} %>
						<div class="comment">Comment.all_comments( <%= session[:poster_id] %> , <%= session[:post_id] %>)</div>
					</div>
				<% end %>
 			</div>
 
 			<div class="add-comment">
				<% if session[:user_id] %>
					<%= form_tag('/post_comment', method: :post, :id => "submit_comment", :style => "display: inline; margin: 0; padding: 0;") do %>
							<input type= "text" id="comment_field" name="comment" value="Leave a comment..."
							onfocus="(this.value == 'Leave a comment...') && (this.value = '')"
							onblur="(this.value == '') && (this.value = 'Leave a comment...')" >
					<% end %>
					<% if Like.check_like(session[:user_id], session[:post_id]) %>
						<%= image_tag ("thumb52.png"), {:class => "like pull-right"} %>
					<% else %>
							<a href="/like_post" id="like">
								<%= image_tag ("thumb12.png"), {:class => "like pull-right"} %>
							</a>
					<% end %>
				<% else %>
					<label id="login-comment" style="font-size: 12px; color:gray;"><a href="login.html">Log In to like and comment!</a></label>

				<% end %>
			</div>
		</div>
	</div>
</body>
</html>