<html>
<head>
	<title>Trending</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="blocks.js"></script>
</head>

<body onload="setupBlocks();">
	<!--HEADER-->
	<div class="header">
		<div class="headblock"></div>
		<div class="user pull-right">
			<% if session[:user_id] %>
				<ul>
					<li>Hello <%= @curr_user.fname %>!</li>
					<li style="padding: 5px 2px;">|</li>
					<li><%= link_to "Log Out", logout_path %></li>
				</ul>
			<% else %>
				<ul>
					<li><%= link_to "Log In", login_path %></li>
					<li style="padding: 5px 2px;">|</li>
					<li><%= link_to "Register", register_path %></li>
				</ul>
			<% end %>
		</div>
		<div class="nav headroom">
			<div class="container">
				<div class="nav-collapse">
					<div class="logo navbar-nav pull-left">City Birds</div>
					<ul class="navbar-nav pull-right">
						<li><a href="index.html">Home</a></li>
						<li><a href="trending.html">Trending</a></li>
						<li class="active"><a href="new.html">What's New</a></li>
						<li><a href="discover.html">Discover</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--HEADER END-->
	<div>
		<div>
		<div class="userdiv">
			<% @all_posts.each do |p| %>
	            <div class="columndiv"><div class="post">
	            	<%= form_tag('/view_post', method: :post, :id => p.id) do %>
						<%= hidden_field_tag 'id', p.id %>
						<img src="<%= p.dir %>" width="200" height="200" onclick="do_form(<%= p.id %>)"/>
						<label class="title"><%= p.title %><label>
					<% end %>
	            </div></div>	
			<% end %>
		</div>
	</div>
	<!--FOOTER-->
	<% if session[:user_id] %>
		<div class="sticky-controls">
				<div class="wrap">
					<div class="controls pull-left">
						<li><%= link_to image_tag("addition6.png"), "#openModal" %></li>
					</div>
				</div>

				<div id="openModal" class="modalDialog">
					<div>
						<a href = "#close" title = "Close" class = "close"> x </a>
						<h3>Upload New Post</h3>

						<%= form_tag('/upload', :multipart => true) do %>

							<div class="post-types">

								<label class="filebutton">
									<%= image_tag("camera-icon.png") %>
									<span><%= file_field_tag :post, :class => "upload", :accept => ".png,.jpg,.gif,.bmp" %></span>
								</label>
								<label class="filebutton">
									<%= image_tag("video-icon.png")  %>
									<span><%= file_field_tag :post, :class => "upload", :accept => ".mp4,.wav,.avi,.mov"%></span>
								</label>

								<div>
									<label style="padding:25px;">PHOTO</label>
									<label style="padding:25px;">VIDEO</label>
								</div>
								<label id="filename" style="padding:5px; font-size:12px; color:gray;"></label>

							</div>

		        			<div class="hidden-input" style="visibility:hidden;">
								<label>TITLE:</label>
								<%= text_field_tag 'title', nil, placeholder: 'Title' %>
								<span id="error"></span>
								<%= submit_tag "UPLOAD", :id => "sub", :style => "padding:0px;"%>
								<br>
							</div>
	
							<div class="submit" style="visibility:hidden;">
								<li><%= image_tag("checkmark.png") %></li>
								<label>SUBMITTED!</label>
							</div>
	        				
	        			<% end %>

				</div>
		</div>
	<% end %>
	<!--end footer-->

	<div id="viewModal" class="viewDialog">
		<div>
			<a href = "#close" title = "Close" class = "close"> x </a>
			<h3 style="position:absolute;">
				<%if @curr_post.present?%>
					<%= @curr_post.title %>
				<% end %>
			</h3>
			<a href="JavaScript:newPopup('http://www.facebook.com/sharer/sharer.php?u=<%=request.original_url + '#viewModal'%>');"><%= image_tag ("facebook-share-button.png"), {:class => "user-small pull-right"} %></a>
			
			<div class="media-box">
				<%if @curr_post %>
					<%if @curr_post.mtype.start_with?('image') %>
						<img src="<%= @curr_post.dir %>" width="340" height="340" />
					<% else %>
						<video width="340" height="340" controls>
						  <source src="<%= @curr_post.dir %>" type="<%= @curr_post.type %>" />
						</video>
					<% end %>
					
				<% end %>
			</div>

			<div class="user-info-box">
				<%=image_tag ("2.PNG"), {:class => "user-small"} %>
				<label>[USERNAME]</label>
			</div>

			<div class="comment-box">
				<!--NEW USER COMMENT-->
				Comments
				<div class="user-comments">
					<%=image_tag ("2.PNG"), {:class => "user-small"} %>
					<div class="comment">WHATEVER COMMENT THE USER HAS INPUT. Trying a longer version. :)</div>
				</div>

				<div class="user-comments">
					<%=image_tag ("4.PNG"), {:class => "user-small"} %>
					<div class="comment">WHATEVER COMMENT THE USER HAS INPUT. Trying a longer version. :)</div>
				</div>

				<div class="user-comments">
					<%=image_tag ("6.PNG"), {:class => "user-small"} %>
					<div class="comment">WHATEVER COMMENT THE USER HAS INPUT. Trying a longer version. :)</div>
				</div>
			</div>

			<div class="add-comment">
				<input type= "text" value="Leave a comment..."
				onfocus="(this.value == 'Leave a comment...') && (this.value = '')"
					onblur="(this.value == '') && (this.value = 'Leave a comment...')" >
					<%=image_tag ("thumb12.png"), {:class => "like pull-right"} %>
			</div>
		</div>
	</div>
</body>
</html>