
<html>
<head>
	<title>HOME</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

</head>

<body>

	<!--HEADER-->
	
	<div class="header">
		<div class="headblock"></div>
		<div class="user pull-right">
			<% if session[:user_id] %>
				<ul class="menu">
					<li class="badge"><a href="#">4</a>
						<ul>
							<li style="margin-left:2px;"><a href="#">[User1] liked your [post: redirect]</a></li>
							<li><a href="#">[User1] liked your [post: redirect]</a></li>
							<li><a href="#">[User1] liked your [post: redirect]</a></li>
							<li><a href="#">[User1] liked your [post: redirect]</a></li>
						</ul>
					</li>
					<li><a href="#"><%= @curr_user.fname %></a></li>
					<li><%= link_to "Log Out", logout_path %>
				</ul>
			<% else %>
				<ul>
					<li><%= link_to "Log In", login_path %></li>
					<li style="padding: 5px 2px;">|</li>
					<li><%= link_to "Register", register_path %></li>
				</ul>
			<% end %>
		</div>
		<div class="nav headroom">
			<div class="container">
				<div class="nav-collapse">
					<div class="logo navbar-nav pull-left">City Birds Logo</div>
					<ul class="navbar-nav pull-right">
						<li class="active"><a href="index.html">Home</a></li>
						<li><a href="#Trending">Trending</a></li>
						<li><a href="#New">What's New</a></li>
						<li><a href="#Discover">Discover</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--HEADER END-->

	<div>
		<div class="container">
			<a name="Home"></a>
			<div class="content">
				<div class="inner-content center-align">
					<p>LOGO OR TEASER WHATEVER YOU LIKE HERE.</p>
					<input class="search" type="text" value="Search Anything You Like!">
				</div>
			</div>
			<a name="Trending"></a>
			<div class="content">
				<div class="inner-content center-align">
					<div class="headroom"></div>
					<a href="trending.html"> See All Trending ></a>
				</div>
			</div>
			<a name="New"></a>
			<div class="content">
				<div class="inner-content center-align">
					<div class="headroom"></div>
					<a href="new.html"> See All Newest Posts ></a>
				</div>
			</div>
			<a name="Discover"></a>
			<div class="content">
				<div class="inner-content center-align">
					<div class="headroom"></div>
					<a href="discover.html"> See Who's On City Birds ></a>
				</div>
			</div>
		</div>
	</div>

	<!--FOOTER-->
	<% if session[:user_id] %>
		<div class="sticky-controls">
				<div class="wrap">
					<div class="controls pull-left">
						<li><%= link_to image_tag("addition6.png"), "#openModal" %></li>
					</div>
				</div>

				<div id="openModal" class="modalDialog">
					<div>
						<a href = "#close" title = "Close" class = "close"> x </a>
						<h4>Upload Post</h4><hr><br>

					
						<%= form_tag('/upload', :multipart => true) do %>
							<%= text_field_tag 'desc', nil, placeholder: 'Title' %><br>
							<div class="fileUpload btn btn-primary">			
								<input id="uploadFile" placeholder="No File Chosen" disabled="disabled" />
								<button class="submit">Choose File</button>

		        				<%= file_field_tag :post, :class => "upload" %>
		        			</div><br>
		        			<span id="error"></span><br>
	        				<%= submit_tag "Upload", :id => "sub", :class => "submit" %>
	        			<% end %>
		        		
					</div>
				</div>
		</div>
	<% end %>
	<!--end footer-->
</body>
</html> 