<html>
<head>
	<title>HOME</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>

<body>

	<!--HEADER-->
	
	<div class="header">
		<div class="headblock"></div>
		<div class="user pull-right">
			<% if session[:user_id] %>
				<ul>
					<li>Hello <%= @curr_user.fname %>!</li>
					<li style="padding: 5px 2px;">|</li>
					<li><%= link_to "Log Out", logout_path %></li>
				</ul>
			<% else %>
				<ul>
					<li><%= link_to "Log In | Register", login_path %></li>
				</ul>
			<% end %>
		</div>
		<div class="nav headroom">
			<div class="container">
				<div class="nav-collapse">
					<div class="logo navbar-nav pull-left">City Birds Logo</div>
					<ul class="navbar-nav pull-right">
						<li class="active"><a href="index.html">Home</a></li>
						<li><a href="#Trending">Trending</a></li>
						<li><a href="#New">What's New</a></li>
						<li><a href="#Discover">Community</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--HEADER END-->

	<div>
		<div class="container">
			<a name="Home"></a>
			<div class="content">
				<div class="inner-content center-align">
					<div class="banner">
						<%=image_tag ("blueblank-ribbon.png"), {:class => "banner"} %>
					</div>	
					<div class="banner-text pull-right">HOME</div>
					<div class="img-home pull-left"><%=image_tag ("citybird-img.png") %>
					</div>
				</div>
			</div>
			<a name="Trending"></a>
			<div class="content">
				<div class="inner-content center-align">
					<div class="headroom"></div>
					<div class="banner">
						<%=image_tag ("blueblank-ribbon.png"), {:class => "banner"} %>
					</div>	
					<div class="banner-text" style="margin-left:740px;">TRENDING</div>
				</div>
			</div>
			<a name="New"></a>
			<div class="content">
				<div class="inner-content center-align">
					<div class="headroom"></div>
					<div class="banner">
						<%=image_tag ("blueblank-ribbon.png"), {:class => "banner"} %>
					</div>	
					<div class="banner-text" style="margin-left:755px; font-size:60px; margin-top:70px;">WHAT'S NEW</div>
				</div>
			</div>
			<a name="Discover"></a>
			<div class="content">
				<div class="inner-content center-align">
					<div class="headroom"></div>
					<div class="banner">
						<%=image_tag ("blueblank-ribbon.png"), {:class => "banner"} %>
					</div>	
					<div class="banner-text" style="margin-left:650px;">COMMUNITY</div>
				</div>
			</div>
		</div>
	</div>

	<!--FOOTER-->
	<div class="sticky-controls">
			<div class="wrap">
				<div class="controls pull-left">
					<li><%= image_tag("addition6.png") %></li>
				</div>
			</div>
		</div>
	<!--end footer-->
</body>
</html>